<header id="transactions-header">

    <div class="title">Bank of America Checking</div>

    <div class="info">
        <div class="balance">$6,302.21</div>
        <div class="updated">Last Updated May 24, 2015</div>
    </div>

</header>

<div id="transactions-options">

    <div class="date-range">
        <input type="text" value="Jan 1, 2015" />
        to
        <input type="text" value="Dec 31, 2015" />
    </div>

    <input class="search-field" type="search" placeholder="Search" />

</div>

<div id="transactions-list">

    <div class="transaction-list-header">

        <div class="header-row">
            <div class="header-cell cell-sm">Date</div>
            <div class="header-cell">Transaction Type</div>
            <div class="header-cell cell-lg">Accounts</div>
            <div class="header-cell cell-lg">Description</div>
            <div class="header-cell cell-sm">Amount</div>
            <div class="header-cell cell-sm">Balance</div>
        </div>

    </div>

    <div class="transaction-list-body">

        {{#each transactions}}

        <div class="transaction-group" data-key="{{transactionId}}">

            <div class="transaction-viewer">

                <div class="transaction-row list-row">
                    <div class="list-cell cell-sm">{{dateFormat transactionDate 'M/d/yyyy'}}</div>
                    <div class="list-cell">{{transactionType}}</div>
                    <div class="list-cell cell-lg detail-btn">{{accountNames}}</div>
                    <div class="list-cell cell-lg">{{description}}</div>
                    <div class="list-cell cell-sm">{{currency amount}}</div>
                    <div class="list-cell cell-sm">10,001.23</div>
                    <div class="row-options">
                        <div class="row-option edit-btn">Edit</div>
                        <div class="row-option delete-btn">Delete</div>
                    </div>
                </div>

                <div class="line-row list-row">
                    <div class="list-cell cell-sm"></div>
                    <div class="list-cell"></div>
                    <div class="list-cell cell-lg">Gift Income</div>
                    <div class="list-cell cell-lg"></div>
                    <div class="list-cell cell-sm">10,000</div>
                    <div class="list-cell cell-sm"></div>
                </div>

            </div>

        </div>

        {{/each}}

        <div class="list-row-insert">
            <div class="insert-label"></div>
        </div>

    </div>

</div>