{{#each transactions}}

<div class="transaction-row" data-id="{{transactionLineId}}">

    <div class="transaction-row-info">

        <div class="column-xsm column-left">
            <div class="reconciliation"></div>
        </div>

        <div class="column-md column-left transaction-info">
            <div class="date">{{dateFormat transactionDate 'M/d/yyyy'}}</div>
            <div class="transaction-type">{{transactionType}}</div>
        </div>

        <div class="column-lg column-left description">
            <div class="description-text">{{description}}</div>
            <div class="account-text">
                <span class="account-names">{{accountNames}}</span>
                <span class="collapse-btn">Show Less</span>
            </div>
        </div>

        <div class="column-sm column-right balance">{{currency balance}}</div>

        <div class="column-sm column-right amount">{{currency amount}}</div>

    </div>

    {{#each otherLines}}

    <div class="transaction-row-details">

        <div class="column-xsm column-left"></div>

        <div class="column-md column-left"></div>

        <div class="column-xlg column-left line-description" data-link="/app/accounts/{{accountId}}">{{accountName}}</div>

        <div class="column-sm column-right"></div>

        <div class="column-sm column-right line-amount">{{currency amount}}</div>

    </div>

    {{/each}}

</div>

{{/each}}