<header id="transactions-header">

    <div class="title">Bank of America Checking</div>

    <div class="info">
        <div class="balance">$6,302.21</div>
        <div class="updated">Last Updated May 24, 2015</div>
    </div>

</header>

<div id="transactions-options">

    <div class="date-range">
        <input type="text" value="Jan 1, 2015" />
        to
        <input type="text" value="Dec 31, 2015" />
    </div>

    <input class="search-field" type="search" placeholder="Search" />

</div>

<div id="transactions-list">

    <div class="transaction-list-header">

        <div class="header-row">
            <div class="header-cell cell-sm">Date</div>
            <div class="header-cell">Transaction Type</div>
            <div class="header-cell cell-lg">Accounts</div>
            <div class="header-cell cell-lg">Description</div>
            <div class="header-cell cell-sm">Amount</div>
            <div class="header-cell cell-sm">Balance</div>
        </div>

    </div>

    <div class="transaction-list-body">

        <div id="editor"></div>

        {{#if transactions}}

            {{#each transactions}}

                <div class="transaction-group" data-key="{{transactionId}}">

                    <div class="transaction-viewer">

                        <div class="transaction-row list-row">
                            <div class="list-cell cell-sm" data-column="transactionDate">{{dateFormat transactionDate 'M/d/yyyy'}}</div>
                            <div class="list-cell">{{transactionType}}</div>
                            <div class="list-cell cell-lg detail-btn">{{accountNames}}</div>
                            <div class="list-cell cell-lg">{{description}}</div>
                            <div class="list-cell cell-sm">{{currency amount}}</div>
                            <div class="list-cell cell-sm">10,001.23</div>
                            <div class="row-options">
                                <div class="row-option edit-btn">Edit</div>
                                <div class="row-option delete-btn">Delete</div>
                                <div class="row-option insert-btn">Insert</div>
                            </div>
                        </div>

                        {{#each otherLines}}

                            <div class="line-row list-row">
                                <div class="list-cell cell-sm"></div>
                                <div class="list-cell"></div>
                                <div class="list-cell cell-lg">{{accountName}}</div>
                                <div class="list-cell cell-lg"></div>
                                <div class="list-cell cell-sm">{{currency amount}}</div>
                                <div class="list-cell cell-sm"></div>
                            </div>

                        {{/each}}

                    </div>

                </div>

            {{/each}}

        {{else}}

            <div class="transaction-group">

                <div class="transaction-editor">

                    <div class="transaction-row list-row">
                        <div class="list-cell cell-sm">
                            <input class="field-input" name="transactionDate" type="text" value="{{currentDate}}" />
                        </div>
                        <div class="list-cell">
                            <select class="field-input" name="transactionType">
                                <option value="Deposit">Deposit</option>
                                <option value="Buy To Open">Buy To Open</option>
                                <option value="Sell To Close">Sell To Close</option>
                                <option value="Transfer">Transfer</option>
                            </select>
                        </div>
                        <div class="list-cell cell-lg"></div>
                        <div class="list-cell cell-lg">
                            <input class="field-input" name="description" type="text" value="" />
                        </div>
                        <div class="list-cell cell-sm">0.00</div>
                        <div class="list-cell cell-sm"></div>
                    </div>

                    <div class="line-row list-row">
                        <div class="list-cell cell-sm"></div>
                        <div class="list-cell"></div>
                        <div class="list-cell cell-lg">
                            <select class="field-input" name="accountId">
                                {{#each accounts}}
                                    <option value="{{accountId}}">{{accountName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="list-cell cell-lg"></div>
                        <div class="list-cell cell-sm">
                            <input class="field-input" name="amount" type="text" value="0.00" />
                        </div>
                        <div class="list-cell cell-sm"></div>
                        <div class="row-options">
                            <div class="row-option delete-row-btn">Delete</div>
                        </div>
                    </div>

                    <div class="add-line-row list-row">
                        <div class="list-cell cell-sm"></div>
                        <div class="list-cell"></div>
                        <div class="list-cell cell-lg add-row-btn">Add Line</div>
                        <div class="list-cell cell-lg"></div>
                        <div class="list-cell cell-sm"></div>
                        <div class="list-cell cell-sm"></div>
                    </div>

                    <div class="editor-options">
                        <div class="editor-option save-btn">Save</div>
                    </div>

                </div>

            </div>

        {{/if}}

    </div>

</div>