<h2>Positions</h2>

{{#each holdings}}

<div class="holdings-row">
    <div class="holdings-column column-sm column-left column-first">{{security.symbol}}</div>
    <div class="holdings-column column-lg column-left">{{security.name}}</div>
    <div class="holdings-column column-sm column-right">{{currency unrealizedGainLoss}}</div>
    <div class="holdings-column column-sm column-right">{{currency marketValue}}</div>
    <div class="holdings-column column-sm column-right">{{unrealizedQuantity}}</div>
    <div class="holdings-column column-xsm column-right">{{percentage dayPercentageChange}}</div>
    <div class="holdings-column column-sm column-right">{{currency dayChange}}</div>
    <div class="holdings-column column-sm column-right">{{currency price}}</div>
</div>

{{/each}}